
WebApplication1/.vs/WebApplication1/FileContentIndex/39a9a8ef-a651-46a2-a0bb-776a80457f21.vsidx
/WebApplication1/.vs/WebApplication1/FileContentIndex
/WebApplication1/WebApplication1/obj/Debug/net8.0
/WebApplication1/.vs/WebApplication1/CopilotIndices
/WebApplication1/.vs/WebApplication1/CopilotIndices
/WebApplication1/WebApplication1/bin/Debug
/WebApplication1/.vs/WebApplication1/v17
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj/Debug/net8.0
/WebApplication1/.vs/WebApplication1/v17
/WebApplication1/.vs/WebApplication1/CopilotIndices
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/WebApplication1/obj
/WebApplication1/.vs/WebApplication1/DesignTimeBuild
