@model List<WebApplication1.Models.Category>

<h2>Animal categories</h2>
<button class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Create</a>
</button>
<table border="1">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                <form asp-area="" asp-controller="Category" asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@category.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
            </td>
        </tr>
    }
</table>
