@model List<WebApplication1.Models.Category>

<h2>Animal categories</h2>
<a class="btn btn-create" asp-controller="Category" asp-action="Create">Create</a><!-- Search Form -->
<form asp-controller="Category" asp-action="Index" method="get" class="search-container">
    <input type="text" class="search-bar" name="categorySearch" placeholder="Search" value="@Context.Request.Query["categorySearch"]" />
    <button type="submit" class="search-button">Search</button>
</form>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                <form asp-area="" asp-controller="Category" asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@category.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <a class="btn btn-danger" asp-area="" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>

            </td>
        </tr>
    }
</table>
