@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dierentuin</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Dit is onze dierentuin genaamt Congenial Guacamole</a>.</p>
</div>
