@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zoo</h1>
    <p>After a long day at the zoo, Bob realized the most congenial guacamole he’d ever tasted was actually being guarded by a very judgmental llama.</p>
</div>
