@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zoo</h1>
    <p>After a long day at the zoo, Bob realized the most congenial guacamole he’d ever tasted was actually being guarded by a very judgmental llama. Bob had never been particularly adventurous, but when his friend Sarah dragged him to the zoo’s “Annual Exotic Foods Festival,” he figured it was worth a try. After all, how often do you get to taste international cuisine while watching penguins waddle around?</p>
</div>
